.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }


body {
    background-color: white; /* Set the default background color */
  }
  
.win-background {
background-color: lightpink; /* Set the background color when the player wins */
}
  